/* shared stylees */
body {
  background-image: url(../images/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: 1600px 800px;
  background-attachment: fixed;
  padding: 200px 100px;
  font-family: "Anta", sans-serif;
  background-color: aliceblue;
}
/* header related styles */
.container {
  text-align: right;
  justify-content: right;
  color: aliceblue;
}
.title-text {
    font-size: 80px;
}
.primary-description {
   
}
.btn-primary {
  color: #005fac;
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
}